
# If you have specific file types for models and textures, you can also use:

*.glb
*.obj
*.fbx
*.dae
*.3ds

*.jpg
*.tga
*.bmp
*.tif
*.tiff
*.env
.env
*.env.local
.env.development.local
.env.test.local
.env.production.local

config.js
node_modules/
dist/
