body { 
    margin: 0; 
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
canvas { 
    display: block; 
}
#info, #debugPanel {
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    touch-action: none;
    user-select: none;
}
#info {
    top: 10px;
    left: 10px;
}
#debugPanel {
    top: 10px;
    right: 10px;
}
#hover-info {
    position: absolute;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    display: none;
    pointer-events: none;
}
#point-menu {
    position: fixed;
    width: 300px;
    background: rgba(255, 255, 255, 0.1); /* More transparent */
    backdrop-filter: blur(20px); /* Blurred background */
    border-radius: 15px;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    transition: all 0.3s ease;
    border: 1px solid rgba(167, 167, 167, 0.3);
}

#point-menu h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: 600;
    color: #e6e6e6;
}

#point-menu h3 {
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: 400;
    color: #dddddd;
}

#point-menu h4 {
    margin: 20px 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: #b6b6b6;
}

.news-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.news-link {
    color: #007AFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.news-link:hover {
    text-decoration: underline;
}

.news-subtext {
    margin: 5px 0;
    font-size: 14px;
    color: #d7d7d7;
}

.news-meta {
    font-size: 12px;
    color: #ffffff;
}

#introScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    z-index: 1000;
}

#introScreen h1 {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 30px;
}

#startButton {
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 2px solid #8a2be2;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#startButton:hover {
    background-color: #8a2be2;
    transform: scale(1.1);
}

#spaceDriveAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 999;
    display: none;
}

#mainContent {
    display: none;
}




.menu-container {
    position: fixed;
    left: -180px;
    top: 20px;
    bottom: 20px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 0 20px 20px 0;
    transition: left 0.3s ease;
}

.menu-container:hover {
    left: 0;
}

.menu-indicator {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.arrow {
    color: #007bff;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.menu-container:hover .arrow {
    transform: rotate(180deg);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

.menu-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #d3d3d3;
    text-decoration: none;
    margin-bottom: 20px;
    transition: color 0.3s ease;
    text-align: center;
}

.menu-item:hover {
    color: #007bff;
}
